<article class="rant-item form">
  <header class="rant-header">

    <div class="rant-header-title">
      {{input type="text" placeholder="Rant Title" autofocus="true" value=rantTitle}}
    </div>

    <div class="rant-header-actions">
      <button class="button button-primary">
        <span {{action 'saveRant'}} class="icon-upload save-rant">Save</span>
      </button>
      <button class="button button-default">
        <span {{action 'cancelRant'}} class="icon-exit cancel-rant"> Cancel</span>
      </button>
    </div>
  </header>

  <aside class="rant-secondary">
    <div>
      <div class="author-photo"></div>
    </div>
    String Counter
  </aside>

  <section class="rant-item-content">
    {{input type="text" rows="13" placeholder="Start your rant." autofocus="true" value=rantBody}}
  </section>

</article>
