<header class="app-header" role="navigation">
  <div class="content">
    <div class="app-header-brand">
      {{#link-to 'rants'}}Rantly{{/link-to}}
    </div>
    <nav>
        {{#link-to 'rants'}}Rants{{/link-to}}
        {{#link-to 'rants'}}Users{{/link-to}}
        {{#link-to 'rants'}}Sign up{{/link-to}}
    </nav>
  </div>
</header>

<body>

  <aside>
    <div class="rant-search">
      {{input type=search value=params class="rant-search-field" placeholder="Search"}}
    </div>
    {{login-component}}
  </aside>

  <main>
    <header class="app-inner-header">
      <button class="button button-invert">New Rant</button>
    </header>

    {{outlet}}
  </main>

  <footer>
  </footer>
  
</body>
