<header class="app-header" role="navigation">
  <div class="content">
    <div class="app-header-brand">
      {{#link-to 'rants'}}Rantly{{/link-to}}
    </div>
    <nav>
        {{#link-to 'rants'}}Rants{{/link-to}}
        {{#link-to 'rants'}}Users{{/link-to}}
        {{#link-to 'rants'}}Sign up{{/link-to}}
    </nav>
  </div>
</header>

<body>
  <aside>
    {{login-component}}
  </aside>

  <main>
    {{outlet}}
  </main>
  
</body>
